label>strong{
    margin-bottom: 0.5em;
}
.panel{
    padding: 3px;
    margin: 0 3px 0.5em 3px;
    background-color: white;
}
.panel.contained{
    border: none;
}
.panel.sequential{
    margin: 5px 0;
}

#Console{
    position: relative;
    display: block;
    width: 100%;
    color: #404040;
}
#LeftPanel{
    display: block; position: absolute;
    left: 0; top: 0;
    height: auto;
    width: auto;
    z-index: 1;
}

#RightPanel{
    display: block; position: absolute;
    right: 0; top: 0;
    width: 70%;
    padding: 1em;
    background-color: white;
}

#RightPanel:empty{
    padding: 0;
}

.leftMapControl{
    width: auto;
}

.leftMapControl>.controlIco{
    display: none;
    cursor: pointer;
    width: 2em;
    text-align: center;
    line-height: 2em;
    background-color: #333;
    color: white;
    font-size: x-large;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.leftMapControl>.controlIco:hover{
    color: rgb(255, 237, 89);
}

.leftMapControl:last-child>.controlIco{
    border-bottom-right-radius: 0.3em;
    border-bottom-style: none;
}
.controlContent{
    width: 300px;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
.controlContent>h4, .controlContent>.panel{
    margin: 0;
    width: 100%;
}
.controlContent>h4{
    text-indent: 0.3em;
    font-weight: bold;
    color: white;
    line-height: 1.7em;
    margin: 0;
    background-color: #333;
}

.controlContent>.panel{
    background-color: white;
}

#Queue>.controlContent>h4, #Queue>.controlIco{
    background-color: #8A0808 !important;
}

#Tasks>.controlContent>h4 a.ico{
    color: rgb(250,250,250);
    width: auto;
    height: 100%;
    line-height: 1.7em;
    margin-right: 0.5em;
    display: inline;
}
#Tasks>.controlContent>h4 a.ico:hover{
    background-color: inherit;
}

.activity-feed{
    position: relative;
    font-size: smaller;
}
.activity-item{
    background-color: rgba(250,250,250,0.5);
    box-shadow: 2px 3px 3px rgba(0,0,0,0.1);
    border-radius: 3px;
    border: 1px solid rgb(230,230,230);
}
.activity-header{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}
.activity-avatar{
    width: auto;
}
.activity-avatar>img{
    max-width: 40px;
    border-radius: 5px;
}

.activity-footer{
    text-align: right;
    margin: 0.5em 3px 2px 0;
}

.activity-summary{
    margin-left: 1em;
    padding-top: 0.9em;
    line-height: 1.2em;
}
.activity-timestamp{
    position: absolute;
    top: 3px; right: 10px;
    font-size: smaller;
    font-weight: bold;
    color: rgb(100,100,100);
}

.attr-table{
    width: 100%;
    margin: 0.2em 0;
    font-size: smaller;
}
.attr-table>tbody>.main-attr:first-child, .attr-table>tbody>.first-attr{
    background-color: rgba(0,0,0,0.1);
}
.first-attr>td{
    font-weight: bold;
    line-height: 1em;

}
.main-attr>td{
    font-weight: bold;
    font-size: larger;
}

.important-attr>td:first-child{
    font-weight: bold;
}

.important-attr>td:last-child{
    font-style: italic;
}

.queryInfoDropDownTable{
    width: 100%;
}
.queryInfoDropDownTable td:first-child{
    font-weight: bold;
}
.queryInfoDropDownTable .label{
    text-transform: capitalize;
    margin: 0 3px;
}
.queryResult>h5{
    line-height: 2em;
    margin-left: 0.3em;
    margin-bottom: 0;
}
.queryResult>progress{
    display: block;
    width: 95%;
    line-height: 2em;
    margin: 3px auto;
}
.queryTask{
    position: relative;
}
.queryTask>.icos{
    position: absolute;
    right: 5px; top: 3px;
}
.queryTask.selectedTask>table{
    border: 1px solid #5700ff;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}
#ConsoleMainMap{
    display: block; position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
#ConsoleMainMap>div{
    width: 100%; height: 100%;
}
.consoleInfoWindow>p{
    text-align: right;
    margin-right: 5px;
}
#RouterLog{
    background-color: rgb(10,10,10);
    border: 1px solid #333;
    margin: 3px 0;
    padding: 5px;
}
#RouterLog>p{
    line-height: 1.2em;
    margin: 0;
    text-indent: 5px;
    font-size: smaller;
    color: white;
}
.wCfgX{
    margin-right: 0.7em;
    color: rgb(40, 40, 40);
}

.workersCfg{
    margin-top: 1em;
}
.cfgForm{
    margin-top: 1em;
}
.scheduleLabels{
    display: block; position: absolute;
    top: 0; left: 0.5em;
    z-index: 1;
}
.scheduleLabels>.label{
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}
.scheduleRow{
    position: relative;
    padding: 0.5em 0;
}
#Schedule{
    width: 100%;
    overflow-x: auto;
}
#ScheduleContainer{
    min-height: 100px;
}
.scheduleTimeLine{
    font-size: x-large;
    padding: 3px 3px;
    height: 2.2em;
}
.scheduleTimeLine>div{
    position: relative;
    width: 100%;
    height: 100%;
}
.scheduleTask{
    position: absolute;

    
    border: 1px solid rgb(200,200,200);
    
    margin-right: 3px;

    height: 100%;
    background-color: rgb(240,240,240);
    
}