*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.top-bar i.the-icon{
    font-size: 1.5em;
    margin-right: 0.5em;
}
.tiny.button{
    line-height: 2em;
    padding: 0 1em;
    margin: 0 2px;
}
.default-textarea{
    resize: none;
    margin: 3px 0;
}
.clearing-caption {
    color: #ccc !important;
}
.f-dropdown.open{
    display: block !important;
}

.no-flow-x{
    overflow-x: hidden;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
.f-dropdown{
    z-index: 100;
}
progress.ProgressBar{
    display: block;
    width: 100%;
    font-size: x-large;
    line-height: 2em;
    margin: 0.5em 0;
}
.top-bar-section ul{
    z-index: 999;
}
.f-dropdown{
    box-shadow: 3px 4px 3px rgba(0,0,0,0.1);
}

.f-ico{
    margin: 0 5px;
}