*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body, body > #container, .off-canvas-wrap {
    min-height:100vh;
}
.off-canvas-wrap {
    overflow-y: auto;
}
.inner-wrap {
    min-height: 100%;
}

.off-canvas-list i.the-icon{
    font-size: 1.5em;
    margin-right: 0.5em;
}

.tiny.button{
    line-height: 2em;
    padding: 0 1em;
    margin: 0 2px;
}
.default-textarea{
    resize: none;
    margin: 3px 0;
}
.clearing-caption {
    color: #ccc !important;
}
.f-dropdown.open{
    display: block !important;
}
a.ico{
    display: inline-block;
    text-align: center;
    width: 2em;
    line-height: 2em;
    color: rgb(70,70,70);
}
a.ico.radius{
    border-radius: 5px;
}
a.ico.round{
    border-radius: 100%;
}
a.ico:hover{
    background-color: rgb(240,240,240);
}
.no-flow-x{
    overflow-x: hidden;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
.f-dropdown{
    z-index: 100;
}