doctype html
html
  head
    meta(http-equiv="Content-type", content="text/html; charset=utf-8")
    title PAGER - Painel de Gestão de Equipes e Rotas Inteligentes
    link(rel="shortcut icon", href="/icons/fav.ico")
    link(rel='stylesheet', href='/css/pace.css')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    link(rel='stylesheet', href='/css/foundation-icons/foundation-icons.css')
    link(rel='stylesheet', href='/css/main.css')
    script
        | window.pager = {isDev: #{isDev}};
    script(src=isDev ? '/js/lazyload.js' : '/js/lazyload.min.js')
    script
        |;(function(){
        |    var deps = [
        |        '//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js',
        |        '//cdnjs.cloudflare.com/ajax/libs/pace/0.4.17/pace.min.js',
        |        '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js',
        |        pager.isDev ? '//fb.me/react-with-addons-0.10.0.js' : '//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react.min.js',
        |        '/js/cortex/build/cortex.min.js',
        |        '/js/foundation/foundation.min.js',
        |        pager.isDev ? '/js/inject.js' : '/js/inject.min.js'
        |    ];
        |    if (!window.btoa) { deps.unshift('//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js'); }
        |    LazyLoad.js(deps, function () {
        |        window.Base64 = {
        |            encode: window.btoa.bind(window),
        |            decode: window.atob.bind(window)
        |        };
        |        _.merge(pager, 
        |            JSON.parse(
        |                Base64.decode('#{appData}')
        |            )
        |        );
        |        Inject.setModuleRoot(pager.isDev ? '/js/modules' : '/js/build');
        |        Inject.setExpires(pager.isDev ? 0 : 1000 * 60 * 24);
        |        require.run('lib/main.js');
        |    });
        |}());
  body
    #container