extends error.head

block head
    title Página não encontrada
block icon
    span.glyphicon.glyphicon-question-sign.errorImage
block text
    h4.media-heading Página não encontrada
    |   A página que você tentou acessar não existe.
    |   Clique&nbsp;
    a(href='/') aqui
    |   para voltar para nossa página inicial.